
body {
    margin: 0px;
    background: url(/static/i/wood_100.jpg);
    font-family: Constantia, ‘Lucida Bright’, Lucidabright, ‘Lucida Serif’, Lucida, ‘DejaVu Serif’, ‘Bitstream Vera Serif’, ‘Liberation Serif’, Georgia, serif;
}

.sheep {
    background-color: #BFE882;
}

.wheat {
    background-color: #FFEF4F;
}

.wood {
    background-color: #00932C;
}

.rock {
    background-color: #787887;
}

.clay {
    background-color: firebrick;
}
.hex {
	fill:#F5F5FF;
	stroke: #CCCCCC;
	stroke-width:1;
}
.hexlabel-back {
	fill:#F5F5FF;
	stroke:#CCCCCC;
}
.hex-hitarea {
	fill:#22FF77;
	opacity:0;
}
.hex-hitarea:hover {
	opacity:0.5;
}
.fields {
    fill:#FFEF4F;
    stroke:#DDCD2D;
    stroke-width:1;
}
.forest {
    fill:#00932C;
    stroke:#00710A;
    stroke-width:1;
}
.pasture {
    fill:#BFE882;
    stroke:#9DC770;
    stroke-width:1;
}
.hills {
    fill:#B22222;
    stroke:#900000;
    stroke-width:1;
}
.mountains {
    fill:#787887;
    stroke:#565665;
    stroke-width:1;
}
.desert {
    fill:#fafad2;
    stroke:#D8D8B0;
    stroke-width:1;
}

.hexlabel {
	font-family:Courier New;
	font-size:26px;
	stroke:#000000;
	fill:#000000;
}
.labelemph {
	stroke:#FF0000;
	fill:#FF0000;
}

.edge {
    fill:rgb(0,0,0);
    opacity:0;
    stroke:rgb(0,0,0);
    stroke-width:1;
}

.edge:hover {
    fill:rgb(0,255,0);
    opacity:0.5;
    stroke:#00ff00;
    stroke-width:1;
}
.vertex {
    fill:rgb(0,0,0);
    opacity:0;
}
.vertex:hover {
    fill:rgb(0,255,0);
    opacity:0.5;
    stroke:#00ff00;
    stroke-width:1;
}

.highlighted {
    fill:rgba(100,255,100,0.3);
    stroke:#AAFFAA;
    stroke-width:1;
}

.player-red {
    fill:rgb(255,0,0);
    stroke:#000000;
    stroke-width:1;
}
.player-green {
    fill:rgb(0,255,0);
    stroke:#000000;
    stroke-width:1;
}
.player-blue {
    fill:rgb(0,0,255);
    stroke:#000000;
    stroke-width:1;
}
.player-orange {
    fill:#FF9900;
    stroke:#000000;
    stroke-width:1;
}
.player-white {
    fill:#CCC;
    stroke:#000000;
    stroke-width:1;
}
.player-brown {
    fill:#CC6600;
    stroke:#000000;
    stroke-width:1;
}

.player {
    display:block;
    width:250px;
}

.player-score, .player-name, .player-resource-count, .player-bonus-count, .player-resources, .player-bonuses {
    display:block;
    width:100%;
    
}


#player-panel {
    width: 300px;
    float: right;
    border: 2px solid #333;
    margin: 8px;
    background: url(/static/i/30.png);
}

#pp {
    position: relative;
    width: 300px;
    height: 250px;
    float: right;
    margin: 10px;
}

#pp-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    border: 2px solid #333;

    background: rgb(0,0,0);
    opacity: 0.5;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}

#player-panel2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    margin: 8px;
    opacity: 1.0;
    
}

#pp-grav {
    float: left;
    height: 40px;
    width: 40px;
}

#pp-photo {
    width: 36px;
    height: 36px;
    border: 2px solid #000;
}

#pp-name {
    font-effect: engrave;
    font-size: 3.2em;
    color: #000;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    text-align: center;
}

#pp-resources {
    margin: auto;
    text-align: center;
    width: 280px;
}

#game-board {
    float: left;
    width: 800px;
    //background-color: #CCC;
}

#toolbar {
    width: 100%;
    background-color: #000;
    padding: 5px;
    color: #FFF;
    opacity: 0.8;
}

.popup {
    position: absolute;
    margin: 25% 25%;
    top: 25%
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #FFF;
}

#footer {

}

.clear {
    clear: both;
}

.player-red {
    background-color: red;
}

.player-green {
    background-color: green;
}

.player-yellow {
    background-color: yellow;
}

.player-blue {
    background-color: blue;
}

.player-white {
    background-color: white;
}

.pp-res {
    float: left;
    width: 33px;
    height: 75px;
    text-align: center;
    padding: 10px;
    color: #aaa;
}

.card {
    margin-bottom: 5px;
    width: 25px;
    height: 40px;
    background-color: #FFF;
    border: 1px solid #CCC;

     -moz-border-radius: 2px;
    border-radius: 2px;

    padding: 3px;
    clear: both;
}

.card div {
    width: 100%;
    height: 100%;
}


#errorMessage {
	color: #FF7777;
