#gameListing {
	clear:both;
}


.player-red a {
    color:rgb(255,0,0);
}
.player-green a {
    color:rgb(0,255,0);
}
.player-blue a {
    color:rgb(0,0,255);
}
.player-orange a {
    color:#FF9900;
}
.player-white a {
    color:#CCC;
}
.player-brown a {
    color:#CC6600;
}

#options {
	float:left;
}
#topbuttonbox {
	float:right;
	text-align:right;
	padding:2px 0 2px 0;
}
#bottombuttonbox {
	float:right;
}
#gameListingNav {
	
}
#options ul, #options li {
	display:inline;
	margin:0;
	padding:0;
}
#options li {
	display:block;
	float:left;
	text-align:center;
	padding:2px 10px 2px 10px;
	background-color:#69B;
	font-size:1.3em;
}
#options a{
	text-decoration:none;
}
#options a, #options a:visited, #options a:link, #options a:hover, #options a:active {
	color:white;
}
.buttonbox a {
	text-decoration:none;
}

#gameListing {
	font-size: 13px;
}
#gameListing a, #gameListing a:visited {
	text-decoration:none;
}
#gameListing>table {
	width:750px;
}
#gameListing>table tr>td:first-child {	
	/* font-family: courier new; */
}
#gameListing>table tr>th:first-child {
	width:100px;
}
#gameListing>table tr>td {
	vertical-align:top;
	padding:5px;
}
#gameListing>table tr>td ul, #gameListing>table tr>td li {
	display:inline;
	margin:0;
	padding:0;
}
#gameListing>table tr>td li  {
	padding:0 2px 0 2px;
}
#gameListing>table tr>td.group {
	border-bottom: solid 1px black;
	background-color: #EEEEEE;
}
#gameListing>table th {
	text-align: left;
	font-weight: normal;
	border-bottom: solid 2px black;
	color:white;
	background-color:#369;
	padding: 5px;
	font-size: 1.2em;
}
#gameListing>table th a, #gameListing>table th a:visited {
	color:white;	
	text-decoration:none;
}
#gameListing td li {
	display:inline;
}
#content {
	width:750px;
	margin: 30px auto 0 auto;
}
#header {
	width:100%;
	height:90px;
	background: #369;
}
#header h1 {
	margin:0;	
	font-size: 35px;
	padding:45px 0 0 15px;
	position:absolute;
	color:white;
}
#user {
	margin:0 15px 0 auto;
	padding:70px 0 0 0;
	width: 400px;
	text-align:right;
	color:white;
	font-size:14px;
}
#user a, #user a:hover, #user a:visited, #user a:active, #user a:link {
	color:white;
	text-decoration:none;
	
}

body { margin:0; padding: 0; font-family: Verdana, Arial, Sans-Serif;}
a {text-decoration: none;}