div.bigPhoto {
    padding-bottom:20px;
}
div.bigPhoto img {
    border: 5px solid;
    width: 128px;
    height: 128px;
}

span.smallPhoto img {
    border: 2.5px solid;
    width: 64px;
    height: 64px;
}

span.smallPhoto {
    padding:10px;
}
